@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-basic-10.woff") format("woff"), url("fonts/linea-basic-10.ttf") format("truetype"), url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-basic-accelerator:before {
  content: "a"; }

.icon-basic-alarm:before {
  content: "b"; }

.icon-basic-anchor:before {
  content: "c"; }

.icon-basic-anticlockwise:before {
  content: "d"; }

.icon-basic-archive:before {
  content: "e"; }

.icon-basic-archive-full:before {
  content: "f"; }

.icon-basic-ban:before {
  content: "g"; }

.icon-basic-battery-charge:before {
  content: "h"; }

.icon-basic-battery-empty:before {
  content: "i"; }

.icon-basic-battery-full:before {
  content: "j"; }

.icon-basic-battery-half:before {
  content: "k"; }

.icon-basic-bolt:before {
  content: "l"; }

.icon-basic-book:before {
  content: "m"; }

.icon-basic-book-pen:before {
  content: "n"; }

.icon-basic-book-pencil:before {
  content: "o"; }

.icon-basic-bookmark:before {
  content: "p"; }

.icon-basic-calculator:before {
  content: "q"; }

.icon-basic-calendar:before {
  content: "r"; }

.icon-basic-cards-diamonds:before {
  content: "s"; }

.icon-basic-cards-hearts:before {
  content: "t"; }

.icon-basic-case:before {
  content: "u"; }

.icon-basic-chronometer:before {
  content: "v"; }

.icon-basic-clessidre:before {
  content: "w"; }

.icon-basic-clock:before {
  content: "x"; }

.icon-basic-clockwise:before {
  content: "y"; }

.icon-basic-cloud:before {
  content: "z"; }

.icon-basic-clubs:before {
  content: "A"; }

.icon-basic-compass:before {
  content: "B"; }

.icon-basic-cup:before {
  content: "C"; }

.icon-basic-diamonds:before {
  content: "D"; }

.icon-basic-display:before {
  content: "E"; }

.icon-basic-download:before {
  content: "F"; }

.icon-basic-exclamation:before {
  content: "G"; }

.icon-basic-eye:before {
  content: "H"; }

.icon-basic-eye-closed:before {
  content: "I"; }

.icon-basic-female:before {
  content: "J"; }

.icon-basic-flag1:before {
  content: "K"; }

.icon-basic-flag2:before {
  content: "L"; }

.icon-basic-floppydisk:before {
  content: "M"; }

.icon-basic-folder:before {
  content: "N"; }

.icon-basic-folder-multiple:before {
  content: "O"; }

.icon-basic-gear:before {
  content: "P"; }

.icon-basic-geolocalize-01:before {
  content: "Q"; }

.icon-basic-geolocalize-05:before {
  content: "R"; }

.icon-basic-globe:before {
  content: "S"; }

.icon-basic-gunsight:before {
  content: "T"; }

.icon-basic-hammer:before {
  content: "U"; }

.icon-basic-headset:before {
  content: "V"; }

.icon-basic-heart:before {
  content: "W"; }

.icon-basic-heart-broken:before {
  content: "X"; }

.icon-basic-helm:before {
  content: "Y"; }

.icon-basic-home:before {
  content: "Z"; }

.icon-basic-info:before {
  content: "0"; }

.icon-basic-ipod:before {
  content: "1"; }

.icon-basic-joypad:before {
  content: "2"; }

.icon-basic-key:before {
  content: "3"; }

.icon-basic-keyboard:before {
  content: "4"; }

.icon-basic-laptop:before {
  content: "5"; }

.icon-basic-life-buoy:before {
  content: "6"; }

.icon-basic-lightbulb:before {
  content: "7"; }

.icon-basic-link:before {
  content: "8"; }

.icon-basic-lock:before {
  content: "9"; }

.icon-basic-lock-open:before {
  content: "!"; }

.icon-basic-magic-mouse:before {
  content: "\""; }

.icon-basic-magnifier:before {
  content: "#"; }

.icon-basic-magnifier-minus:before {
  content: "$"; }

.icon-basic-magnifier-plus:before {
  content: "%"; }

.icon-basic-mail:before {
  content: "&"; }

.icon-basic-mail-multiple:before {
  content: "'"; }

.icon-basic-mail-open:before {
  content: "("; }

.icon-basic-mail-open-text:before {
  content: ")"; }

.icon-basic-male:before {
  content: "*"; }

.icon-basic-map:before {
  content: "+"; }

.icon-basic-message:before {
  content: ","; }

.icon-basic-message-multiple:before {
  content: "-"; }

.icon-basic-message-txt:before {
  content: "."; }

.icon-basic-mixer2:before {
  content: "/"; }

.icon-basic-mouse:before {
  content: ":"; }

.icon-basic-notebook:before {
  content: ";"; }

.icon-basic-notebook-pen:before {
  content: "<"; }

.icon-basic-notebook-pencil:before {
  content: "="; }

.icon-basic-paperplane:before {
  content: ">"; }

.icon-basic-pencil-ruler:before {
  content: "?"; }

.icon-basic-pencil-ruler-pen:before {
  content: "@"; }

.icon-basic-photo:before {
  content: "["; }

.icon-basic-picture:before {
  content: "]"; }

.icon-basic-picture-multiple:before {
  content: "^"; }

.icon-basic-pin1:before {
  content: "_"; }

.icon-basic-pin2:before {
  content: "`"; }

.icon-basic-postcard:before {
  content: "{"; }

.icon-basic-postcard-multiple:before {
  content: "|"; }

.icon-basic-printer:before {
  content: "}"; }

.icon-basic-question:before {
  content: "~"; }

.icon-basic-rss:before {
  content: "\\"; }

.icon-basic-server:before {
  content: "\e000"; }

.icon-basic-server2:before {
  content: "\e001"; }

.icon-basic-server-cloud:before {
  content: "\e002"; }

.icon-basic-server-download:before {
  content: "\e003"; }

.icon-basic-server-upload:before {
  content: "\e004"; }

.icon-basic-settings:before {
  content: "\e005"; }

.icon-basic-share:before {
  content: "\e006"; }

.icon-basic-sheet:before {
  content: "\e007"; }

.icon-basic-sheet-multiple:before {
  content: "\e008"; }

.icon-basic-sheet-pen:before {
  content: "\e009"; }

.icon-basic-sheet-pencil:before {
  content: "\e00a"; }

.icon-basic-sheet-txt:before {
  content: "\e00b"; }

.icon-basic-signs:before {
  content: "\e00c"; }

.icon-basic-smartphone:before {
  content: "\e00d"; }

.icon-basic-spades:before {
  content: "\e00e"; }

.icon-basic-spread:before {
  content: "\e00f"; }

.icon-basic-spread-bookmark:before {
  content: "\e010"; }

.icon-basic-spread-text:before {
  content: "\e011"; }

.icon-basic-spread-text-bookmark:before {
  content: "\e012"; }

.icon-basic-star:before {
  content: "\e013"; }

.icon-basic-tablet:before {
  content: "\e014"; }

.icon-basic-target:before {
  content: "\e015"; }

.icon-basic-todo:before {
  content: "\e016"; }

.icon-basic-todo-pen:before {
  content: "\e017"; }

.icon-basic-todo-pencil:before {
  content: "\e018"; }

.icon-basic-todo-txt:before {
  content: "\e019"; }

.icon-basic-todolist-pen:before {
  content: "\e01a"; }

.icon-basic-todolist-pencil:before {
  content: "\e01b"; }

.icon-basic-trashcan:before {
  content: "\e01c"; }

.icon-basic-trashcan-full:before {
  content: "\e01d"; }

.icon-basic-trashcan-refresh:before {
  content: "\e01e"; }

.icon-basic-trashcan-remove:before {
  content: "\e01f"; }

.icon-basic-upload:before {
  content: "\e020"; }

.icon-basic-usb:before {
  content: "\e021"; }

.icon-basic-video:before {
  content: "\e022"; }

.icon-basic-watch:before {
  content: "\e023"; }

.icon-basic-webpage:before {
  content: "\e024"; }

.icon-basic-webpage-img-txt:before {
  content: "\e025"; }

.icon-basic-webpage-multiple:before {
  content: "\e026"; }

.icon-basic-webpage-txt:before {
  content: "\e027"; }

.icon-basic-world:before {
  content: "\e028"; }

@font-face {
  font-family: "linea-basic-10";
  src: url("fonts/linea-basic-10.eot");
  src: url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"), url("fonts/linea-basic-10.woff") format("woff"), url("fonts/linea-basic-10.ttf") format("truetype"), url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-basic-accelerator:before {
  content: "a"; }

.icon-basic-alarm:before {
  content: "b"; }

.icon-basic-anchor:before {
  content: "c"; }

.icon-basic-anticlockwise:before {
  content: "d"; }

.icon-basic-archive:before {
  content: "e"; }

.icon-basic-archive-full:before {
  content: "f"; }

.icon-basic-ban:before {
  content: "g"; }

.icon-basic-battery-charge:before {
  content: "h"; }

.icon-basic-battery-empty:before {
  content: "i"; }

.icon-basic-battery-full:before {
  content: "j"; }

.icon-basic-battery-half:before {
  content: "k"; }

.icon-basic-bolt:before {
  content: "l"; }

.icon-basic-book:before {
  content: "m"; }

.icon-basic-book-pen:before {
  content: "n"; }

.icon-basic-book-pencil:before {
  content: "o"; }

.icon-basic-bookmark:before {
  content: "p"; }

.icon-basic-calculator:before {
  content: "q"; }

.icon-basic-calendar:before {
  content: "r"; }

.icon-basic-cards-diamonds:before {
  content: "s"; }

.icon-basic-cards-hearts:before {
  content: "t"; }

.icon-basic-case:before {
  content: "u"; }

.icon-basic-chronometer:before {
  content: "v"; }

.icon-basic-clessidre:before {
  content: "w"; }

.icon-basic-clock:before {
  content: "x"; }

.icon-basic-clockwise:before {
  content: "y"; }

.icon-basic-cloud:before {
  content: "z"; }

.icon-basic-clubs:before {
  content: "A"; }

.icon-basic-compass:before {
  content: "B"; }

.icon-basic-cup:before {
  content: "C"; }

.icon-basic-diamonds:before {
  content: "D"; }

.icon-basic-display:before {
  content: "E"; }

.icon-basic-download:before {
  content: "F"; }

.icon-basic-exclamation:before {
  content: "G"; }

.icon-basic-eye:before {
  content: "H"; }

.icon-basic-eye-closed:before {
  content: "I"; }

.icon-basic-female:before {
  content: "J"; }

.icon-basic-flag1:before {
  content: "K"; }

.icon-basic-flag2:before {
  content: "L"; }

.icon-basic-floppydisk:before {
  content: "M"; }

.icon-basic-folder:before {
  content: "N"; }

.icon-basic-folder-multiple:before {
  content: "O"; }

.icon-basic-gear:before {
  content: "P"; }

.icon-basic-geolocalize-01:before {
  content: "Q"; }

.icon-basic-geolocalize-05:before {
  content: "R"; }

.icon-basic-globe:before {
  content: "S"; }

.icon-basic-gunsight:before {
  content: "T"; }

.icon-basic-hammer:before {
  content: "U"; }

.icon-basic-headset:before {
  content: "V"; }

.icon-basic-heart:before {
  content: "W"; }

.icon-basic-heart-broken:before {
  content: "X"; }

.icon-basic-helm:before {
  content: "Y"; }

.icon-basic-home:before {
  content: "Z"; }

.icon-basic-info:before {
  content: "0"; }

.icon-basic-ipod:before {
  content: "1"; }

.icon-basic-joypad:before {
  content: "2"; }

.icon-basic-key:before {
  content: "3"; }

.icon-basic-keyboard:before {
  content: "4"; }

.icon-basic-laptop:before {
  content: "5"; }

.icon-basic-life-buoy:before {
  content: "6"; }

.icon-basic-lightbulb:before {
  content: "7"; }

.icon-basic-link:before {
  content: "8"; }

.icon-basic-lock:before {
  content: "9"; }

.icon-basic-lock-open:before {
  content: "!"; }

.icon-basic-magic-mouse:before {
  content: "\""; }

.icon-basic-magnifier:before {
  content: "#"; }

.icon-basic-magnifier-minus:before {
  content: "$"; }

.icon-basic-magnifier-plus:before {
  content: "%"; }

.icon-basic-mail:before {
  content: "&"; }

.icon-basic-mail-multiple:before {
  content: "'"; }

.icon-basic-mail-open:before {
  content: "("; }

.icon-basic-mail-open-text:before {
  content: ")"; }

.icon-basic-male:before {
  content: "*"; }

.icon-basic-map:before {
  content: "+"; }

.icon-basic-message:before {
  content: ","; }

.icon-basic-message-multiple:before {
  content: "-"; }

.icon-basic-message-txt:before {
  content: "."; }

.icon-basic-mixer2:before {
  content: "/"; }

.icon-basic-mouse:before {
  content: ":"; }

.icon-basic-notebook:before {
  content: ";"; }

.icon-basic-notebook-pen:before {
  content: "<"; }

.icon-basic-notebook-pencil:before {
  content: "="; }

.icon-basic-paperplane:before {
  content: ">"; }

.icon-basic-pencil-ruler:before {
  content: "?"; }

.icon-basic-pencil-ruler-pen:before {
  content: "@"; }

.icon-basic-photo:before {
  content: "["; }

.icon-basic-picture:before {
  content: "]"; }

.icon-basic-picture-multiple:before {
  content: "^"; }

.icon-basic-pin1:before {
  content: "_"; }

.icon-basic-pin2:before {
  content: "`"; }

.icon-basic-postcard:before {
  content: "{"; }

.icon-basic-postcard-multiple:before {
  content: "|"; }

.icon-basic-printer:before {
  content: "}"; }

.icon-basic-question:before {
  content: "~"; }

.icon-basic-rss:before {
  content: "\\"; }

.icon-basic-server:before {
  content: "\e000"; }

.icon-basic-server2:before {
  content: "\e001"; }

.icon-basic-server-cloud:before {
  content: "\e002"; }

.icon-basic-server-download:before {
  content: "\e003"; }

.icon-basic-server-upload:before {
  content: "\e004"; }

.icon-basic-settings:before {
  content: "\e005"; }

.icon-basic-share:before {
  content: "\e006"; }

.icon-basic-sheet:before {
  content: "\e007"; }

.icon-basic-sheet-multiple:before {
  content: "\e008"; }

.icon-basic-sheet-pen:before {
  content: "\e009"; }

.icon-basic-sheet-pencil:before {
  content: "\e00a"; }

.icon-basic-sheet-txt:before {
  content: "\e00b"; }

.icon-basic-signs:before {
  content: "\e00c"; }

.icon-basic-smartphone:before {
  content: "\e00d"; }

.icon-basic-spades:before {
  content: "\e00e"; }

.icon-basic-spread:before {
  content: "\e00f"; }

.icon-basic-spread-bookmark:before {
  content: "\e010"; }

.icon-basic-spread-text:before {
  content: "\e011"; }

.icon-basic-spread-text-bookmark:before {
  content: "\e012"; }

.icon-basic-star:before {
  content: "\e013"; }

.icon-basic-tablet:before {
  content: "\e014"; }

.icon-basic-target:before {
  content: "\e015"; }

.icon-basic-todo:before {
  content: "\e016"; }

.icon-basic-todo-pen:before {
  content: "\e017"; }

.icon-basic-todo-pencil:before {
  content: "\e018"; }

.icon-basic-todo-txt:before {
  content: "\e019"; }

.icon-basic-todolist-pen:before {
  content: "\e01a"; }

.icon-basic-todolist-pencil:before {
  content: "\e01b"; }

.icon-basic-trashcan:before {
  content: "\e01c"; }

.icon-basic-trashcan-full:before {
  content: "\e01d"; }

.icon-basic-trashcan-refresh:before {
  content: "\e01e"; }

.icon-basic-trashcan-remove:before {
  content: "\e01f"; }

.icon-basic-upload:before {
  content: "\e020"; }

.icon-basic-usb:before {
  content: "\e021"; }

.icon-basic-video:before {
  content: "\e022"; }

.icon-basic-watch:before {
  content: "\e023"; }

.icon-basic-webpage:before {
  content: "\e024"; }

.icon-basic-webpage-img-txt:before {
  content: "\e025"; }

.icon-basic-webpage-multiple:before {
  content: "\e026"; }

.icon-basic-webpage-txt:before {
  content: "\e027"; }

.icon-basic-world:before {
  content: "\e028"; }

/*
0-600 phone 
600- 900 tablet portrait
900- 1200 tablet landscape
1200 - 1800 is where normal styles apply
1800 big desktop
*/
/*
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop
*/
/* This is referred to the universal selector (global reset). */
/* Remove the default styling the browsers have */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* The root font size */
  /* rem is a best pratice to use to scale the entire website uniformly */
  /* We use 62.5% because the default browser font size is 16px and we want to 
    use 10px as our starting font size. */
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media (max-width: 25em) {
    html {
      font-size: 31.25%; } }
  @media (max-width: 22em) {
    html {
      font-size: 25%; } }

/* Specify font within the body style this is best practice. */
body {
  /* This will create a nice border around the entire webpage */
  padding: 3rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* Browsers are optimized to change opacity and transform property */
@keyframes moveInLeft {
  /* Start of the animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  /* End of the animation */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  80% {
    transform: translateY(-0.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  /* How do you pick a good font? */
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  /* Prevents the shaking in animations */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary-main {
    /* ensure that the sub is force to the next line */
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    /* 
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
    @media (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: 0.5rem;
        font-size: 1.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5; } }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      letter-spacing: .5rem; } }
  .heading-secondary:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.center-text {
  text-align: center !important; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-l-1 {
  margin-left: 1rem; }

.m-r-1 {
  margin-right: 1rem; }

.m-1 {
  margin: 1rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-l-2 {
  margin-left: 2rem; }

.m-r-2 {
  margin-right: 2rem; }

.m-2 {
  margin: 2rem; }

.m-b-3 {
  margin-bottom: 3rem; }

.m-t-3 {
  margin-top: 3rem; }

.m-l-3 {
  margin-left: 3rem; }

.m-r-3 {
  margin-right: 3rem; }

.m-3 {
  margin: 3rem; }

.m-b-4 {
  margin-bottom: 4rem; }

.m-t-4 {
  margin-top: 4rem; }

.m-l-4 {
  margin-left: 4rem; }

.m-r-4 {
  margin-right: 4rem; }

.m-4 {
  margin: 4rem; }

.m-b-5 {
  margin-bottom: 5rem; }

.m-t-5 {
  margin-top: 5rem; }

.m-l-5 {
  margin-left: 5rem; }

.m-r-5 {
  margin-right: 5rem; }

.m-5 {
  margin: 5rem; }

.m-b-6 {
  margin-bottom: 6rem; }

.m-t-6 {
  margin-top: 6rem; }

.m-l-6 {
  margin-left: 6rem; }

.m-r-6 {
  margin-right: 6rem; }

.m-6 {
  margin: 6rem; }

.m-b-7 {
  margin-bottom: 7rem; }

.m-t-7 {
  margin-top: 7rem; }

.m-l-7 {
  margin-left: 7rem; }

.m-r-7 {
  margin-right: 7rem; }

.m-7 {
  margin: 7rem; }

.m-b-8 {
  margin-bottom: 8rem; }

.m-t-8 {
  margin-top: 8rem; }

.m-l-8 {
  margin-left: 8rem; }

.m-r-8 {
  margin-right: 8rem; }

.m-8 {
  margin: 8rem; }

.m-b-9 {
  margin-bottom: 9rem; }

.m-t-9 {
  margin-top: 9rem; }

.m-l-9 {
  margin-left: 9rem; }

.m-r-9 {
  margin-right: 9rem; }

.m-9 {
  margin: 9rem; }

.m-b-10 {
  margin-bottom: 10rem; }

.m-t-10 {
  margin-top: 10rem; }

.m-l-10 {
  margin-left: 10rem; }

.m-r-10 {
  margin-right: 10rem; }

.m-10 {
  margin: 10rem; }

.m-b-11 {
  margin-bottom: 11rem; }

.m-t-11 {
  margin-top: 11rem; }

.m-l-11 {
  margin-left: 11rem; }

.m-r-11 {
  margin-right: 11rem; }

.m-11 {
  margin: 11rem; }

.m-b-12 {
  margin-bottom: 12rem; }

.m-t-12 {
  margin-top: 12rem; }

.m-l-12 {
  margin-left: 12rem; }

.m-r-12 {
  margin-right: 12rem; }

.m-12 {
  margin: 12rem; }

.btn {
  /* The active state is when the button is clicked. */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    /* Simple animation, all properties to animate */
    /* Transition needs to be applied to the initial state. */
    transition: all .2s;
    border: none;
    cursor: pointer; }
  .btn-animated {
    animation: moveUp 1s ease-out .75s;
    /* Apply the 0% styles before the animation starts */
    animation-fill-mode: backwards; }
  .btn:hover {
    transform: translateY(-0.3rem);
    /* Create a shadow on hover to make the button look as it's floating */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scale(1.4, 1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    transform: translateY(-0.1rem);
    /* Move the shadow closer to the page on click. */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    /* You have to specify content even if it's empty */
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s; }
  .btn-white {
    background-color: white;
    color: #777; }
    .btn-white::after {
      background-color: white; }
  .btn-green {
    background-color: #55c57a;
    color: white; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition-photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .composition-photo-p1 {
      left: 0;
      top: -2rem; }
    .composition-photo-p2 {
      right: 0;
      top: 2rem; }
    .composition-photo-p3 {
      left: 20%;
      top: 10rem; }
  .composition:hover .composition-photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card-side {
    background-color: orangered;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden; }
    .card-side-front {
      background-color: white; }
    .card-side-back {
      transform: rotateY(180deg); }
      .card-side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card-side-back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card-side-back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card-side-front {
    transform: rotateY(-180deg); }
  .card:hover .card-side-back {
    transform: rotateY(0); }
  .card-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card-picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .card-picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .card-picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-7.jpg"); }
  .card-heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
    z-index: 10; }
  .card-heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card-heading-span-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card-heading-span-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card-heading-span-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card-details {
    padding: 3rem; }
    .card-details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card-details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card-price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
  .card-price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  position: relative; }
  .story > * {
    transform: skewX(12deg); }
  .story-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story-img {
    height: 100%;
    transform: translate(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story-caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story-img {
    transform: translate(-4rem) scale(1);
    filter: blur(3px) brightness(90%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .2;
  overflow: hidden; }
  .bg-video-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.form-group:not(:last-child) {
  margin-bottom: 2rem; }

.form-input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .5s; }
  .form-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form-input:focus:invalid {
    border-bottom: 3px solid orangered; }
  .form-input::-webkit-input-placeholder {
    color: #999; }

.form-label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form-radio-group {
  width: 49%;
  display: inline-block; }

.form-radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form-radio-input {
  display: none; }

.form-radio-button {
  height: 3rem;
  width: 3rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.5rem; }
  .form-radio-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form-radio-input:checked + .form-radio-label .form-radio-button::after {
  opacity: 1; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.3); } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: table;
    overflow: hidden;
    transition: all .4s .2s;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25); }
  .popup:target .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup-left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle; }
  .popup-right {
    width: 66.66667%;
    padding: 3rem 5rem;
    display: table-cell;
    vertical-align: middle; }
  .popup-img {
    display: block;
    width: 100%; }
  .popup-text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup-close:link, .popup-close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    text-decoration: none;
    font-size: 3rem;
    display: inline-block;
    line-height: 1; }
  .popup-close:hover {
    color: #55c57a; }

.header {
  /* 95% of the viewport */
  height: 95vh;
  /* For opacity we have to use rgba function */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
  /* Cover adapts the image size to the viewport */
  background-size: cover;
  /* Ensures that the top of the image stays in place, 
    and it will crop everywhere else. */
  background-position: top;
  /* This needed for the logo absolute poition to be set correctly */
  position: relative;
  /* Checkout this website to generate shapes https://bennettfeely.com/clippy/ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header .logo-box {
    /* The reference is the parent element */
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo-box .logo {
      height: 3.5rem; }
  .header-text-box {
    /* Position the element with absolute positioning relative to it's parent */
    position: absolute;
    top: 40%;
    left: 50%;
    /* Center the content, in relation to the element itself */
    transform: translate(-50%, -50%);
    /* center the  button*/
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 75rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc(((100% - 6rem) / 2)*1 + 0rem);
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-2:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-2 {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc(((100% - 12rem) / 3)*1 + 0rem);
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-3:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-3 {
        width: 100% !important; } }
  .row .col-1-of-4 {
    width: calc(((100% - 18rem) / 4)*1 + 0rem);
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-4:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 100% !important; } }
  .row .col-1-of-5 {
    width: calc(((100% - 24rem) / 5)*1 + 0rem);
    float: left; }
    .row .col-1-of-5:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-5:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-5 {
        width: 100% !important; } }
  .row .col-1-of-6 {
    width: calc(((100% - 30rem) / 6)*1 + 0rem);
    float: left; }
    .row .col-1-of-6:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-6:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-6 {
        width: 100% !important; } }
  .row .col-1-of-7 {
    width: calc(((100% - 36rem) / 7)*1 + 0rem);
    float: left; }
    .row .col-1-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-7 {
        width: 100% !important; } }
  .row .col-1-of-8 {
    width: calc(((100% - 42rem) / 8)*1 + 0rem);
    float: left; }
    .row .col-1-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-8 {
        width: 100% !important; } }
  .row .col-1-of-9 {
    width: calc(((100% - 48rem) / 9)*1 + 0rem);
    float: left; }
    .row .col-1-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-9 {
        width: 100% !important; } }
  .row .col-1-of-10 {
    width: calc(((100% - 54rem) / 10)*1 + 0rem);
    float: left; }
    .row .col-1-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-10 {
        width: 100% !important; } }
  .row .col-1-of-11 {
    width: calc(((100% - 60rem) / 11)*1 + 0rem);
    float: left; }
    .row .col-1-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-11 {
        width: 100% !important; } }
  .row .col-1-of-12 {
    width: calc(((100% - 66rem) / 12)*1 + 0rem);
    float: left; }
    .row .col-1-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-1-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-1-of-12 {
        width: 100% !important; } }
  .row .col-2-of-3 {
    width: calc(((100% - 12rem) / 3)*2 + 6rem);
    float: left; }
    .row .col-2-of-3:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-3:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-3 {
        width: 100% !important; } }
  .row .col-2-of-4 {
    width: calc(((100% - 18rem) / 4)*2 + 6rem);
    float: left; }
    .row .col-2-of-4:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-4:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-4 {
        width: 100% !important; } }
  .row .col-2-of-5 {
    width: calc(((100% - 24rem) / 5)*2 + 6rem);
    float: left; }
    .row .col-2-of-5:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-5:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-5 {
        width: 100% !important; } }
  .row .col-2-of-6 {
    width: calc(((100% - 30rem) / 6)*2 + 6rem);
    float: left; }
    .row .col-2-of-6:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-6:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-6 {
        width: 100% !important; } }
  .row .col-2-of-7 {
    width: calc(((100% - 36rem) / 7)*2 + 6rem);
    float: left; }
    .row .col-2-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-7 {
        width: 100% !important; } }
  .row .col-2-of-8 {
    width: calc(((100% - 42rem) / 8)*2 + 6rem);
    float: left; }
    .row .col-2-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-8 {
        width: 100% !important; } }
  .row .col-2-of-9 {
    width: calc(((100% - 48rem) / 9)*2 + 6rem);
    float: left; }
    .row .col-2-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-9 {
        width: 100% !important; } }
  .row .col-2-of-10 {
    width: calc(((100% - 54rem) / 10)*2 + 6rem);
    float: left; }
    .row .col-2-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-10 {
        width: 100% !important; } }
  .row .col-2-of-11 {
    width: calc(((100% - 60rem) / 11)*2 + 6rem);
    float: left; }
    .row .col-2-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-11 {
        width: 100% !important; } }
  .row .col-2-of-12 {
    width: calc(((100% - 66rem) / 12)*2 + 6rem);
    float: left; }
    .row .col-2-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-2-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-2-of-12 {
        width: 100% !important; } }
  .row .col-3-of-4 {
    width: calc(((100% - 18rem) / 4)*3 + 12rem);
    float: left; }
    .row .col-3-of-4:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-4:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-4 {
        width: 100% !important; } }
  .row .col-3-of-5 {
    width: calc(((100% - 24rem) / 5)*3 + 12rem);
    float: left; }
    .row .col-3-of-5:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-5:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-5 {
        width: 100% !important; } }
  .row .col-3-of-6 {
    width: calc(((100% - 30rem) / 6)*3 + 12rem);
    float: left; }
    .row .col-3-of-6:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-6:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-6 {
        width: 100% !important; } }
  .row .col-3-of-7 {
    width: calc(((100% - 36rem) / 7)*3 + 12rem);
    float: left; }
    .row .col-3-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-7 {
        width: 100% !important; } }
  .row .col-3-of-8 {
    width: calc(((100% - 42rem) / 8)*3 + 12rem);
    float: left; }
    .row .col-3-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-8 {
        width: 100% !important; } }
  .row .col-3-of-9 {
    width: calc(((100% - 48rem) / 9)*3 + 12rem);
    float: left; }
    .row .col-3-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-9 {
        width: 100% !important; } }
  .row .col-3-of-10 {
    width: calc(((100% - 54rem) / 10)*3 + 12rem);
    float: left; }
    .row .col-3-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-10 {
        width: 100% !important; } }
  .row .col-3-of-11 {
    width: calc(((100% - 60rem) / 11)*3 + 12rem);
    float: left; }
    .row .col-3-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-11 {
        width: 100% !important; } }
  .row .col-3-of-12 {
    width: calc(((100% - 66rem) / 12)*3 + 12rem);
    float: left; }
    .row .col-3-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-3-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-3-of-12 {
        width: 100% !important; } }
  .row .col-4-of-5 {
    width: calc(((100% - 24rem) / 5)*4 + 18rem);
    float: left; }
    .row .col-4-of-5:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-5:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-5 {
        width: 100% !important; } }
  .row .col-4-of-6 {
    width: calc(((100% - 30rem) / 6)*4 + 18rem);
    float: left; }
    .row .col-4-of-6:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-6:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-6 {
        width: 100% !important; } }
  .row .col-4-of-7 {
    width: calc(((100% - 36rem) / 7)*4 + 18rem);
    float: left; }
    .row .col-4-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-7 {
        width: 100% !important; } }
  .row .col-4-of-8 {
    width: calc(((100% - 42rem) / 8)*4 + 18rem);
    float: left; }
    .row .col-4-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-8 {
        width: 100% !important; } }
  .row .col-4-of-9 {
    width: calc(((100% - 48rem) / 9)*4 + 18rem);
    float: left; }
    .row .col-4-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-9 {
        width: 100% !important; } }
  .row .col-4-of-10 {
    width: calc(((100% - 54rem) / 10)*4 + 18rem);
    float: left; }
    .row .col-4-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-10 {
        width: 100% !important; } }
  .row .col-4-of-11 {
    width: calc(((100% - 60rem) / 11)*4 + 18rem);
    float: left; }
    .row .col-4-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-11 {
        width: 100% !important; } }
  .row .col-4-of-12 {
    width: calc(((100% - 66rem) / 12)*4 + 18rem);
    float: left; }
    .row .col-4-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-4-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-4-of-12 {
        width: 100% !important; } }
  .row .col-5-of-6 {
    width: calc(((100% - 30rem) / 6)*5 + 24rem);
    float: left; }
    .row .col-5-of-6:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-6:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-6 {
        width: 100% !important; } }
  .row .col-5-of-7 {
    width: calc(((100% - 36rem) / 7)*5 + 24rem);
    float: left; }
    .row .col-5-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-7 {
        width: 100% !important; } }
  .row .col-5-of-8 {
    width: calc(((100% - 42rem) / 8)*5 + 24rem);
    float: left; }
    .row .col-5-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-8 {
        width: 100% !important; } }
  .row .col-5-of-9 {
    width: calc(((100% - 48rem) / 9)*5 + 24rem);
    float: left; }
    .row .col-5-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-9 {
        width: 100% !important; } }
  .row .col-5-of-10 {
    width: calc(((100% - 54rem) / 10)*5 + 24rem);
    float: left; }
    .row .col-5-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-10 {
        width: 100% !important; } }
  .row .col-5-of-11 {
    width: calc(((100% - 60rem) / 11)*5 + 24rem);
    float: left; }
    .row .col-5-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-11 {
        width: 100% !important; } }
  .row .col-5-of-12 {
    width: calc(((100% - 66rem) / 12)*5 + 24rem);
    float: left; }
    .row .col-5-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-5-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-5-of-12 {
        width: 100% !important; } }
  .row .col-6-of-7 {
    width: calc(((100% - 36rem) / 7)*6 + 30rem);
    float: left; }
    .row .col-6-of-7:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-7:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-7 {
        width: 100% !important; } }
  .row .col-6-of-8 {
    width: calc(((100% - 42rem) / 8)*6 + 30rem);
    float: left; }
    .row .col-6-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-8 {
        width: 100% !important; } }
  .row .col-6-of-9 {
    width: calc(((100% - 48rem) / 9)*6 + 30rem);
    float: left; }
    .row .col-6-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-9 {
        width: 100% !important; } }
  .row .col-6-of-10 {
    width: calc(((100% - 54rem) / 10)*6 + 30rem);
    float: left; }
    .row .col-6-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-10 {
        width: 100% !important; } }
  .row .col-6-of-11 {
    width: calc(((100% - 60rem) / 11)*6 + 30rem);
    float: left; }
    .row .col-6-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-11 {
        width: 100% !important; } }
  .row .col-6-of-12 {
    width: calc(((100% - 66rem) / 12)*6 + 30rem);
    float: left; }
    .row .col-6-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-6-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-6-of-12 {
        width: 100% !important; } }
  .row .col-7-of-8 {
    width: calc(((100% - 42rem) / 8)*7 + 36rem);
    float: left; }
    .row .col-7-of-8:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-7-of-8:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-7-of-8 {
        width: 100% !important; } }
  .row .col-7-of-9 {
    width: calc(((100% - 48rem) / 9)*7 + 36rem);
    float: left; }
    .row .col-7-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-7-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-7-of-9 {
        width: 100% !important; } }
  .row .col-7-of-10 {
    width: calc(((100% - 54rem) / 10)*7 + 36rem);
    float: left; }
    .row .col-7-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-7-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-7-of-10 {
        width: 100% !important; } }
  .row .col-7-of-11 {
    width: calc(((100% - 60rem) / 11)*7 + 36rem);
    float: left; }
    .row .col-7-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-7-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-7-of-11 {
        width: 100% !important; } }
  .row .col-7-of-12 {
    width: calc(((100% - 66rem) / 12)*7 + 36rem);
    float: left; }
    .row .col-7-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-7-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-7-of-12 {
        width: 100% !important; } }
  .row .col-8-of-9 {
    width: calc(((100% - 48rem) / 9)*8 + 42rem);
    float: left; }
    .row .col-8-of-9:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-8-of-9:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-8-of-9 {
        width: 100% !important; } }
  .row .col-8-of-10 {
    width: calc(((100% - 54rem) / 10)*8 + 42rem);
    float: left; }
    .row .col-8-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-8-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-8-of-10 {
        width: 100% !important; } }
  .row .col-8-of-11 {
    width: calc(((100% - 60rem) / 11)*8 + 42rem);
    float: left; }
    .row .col-8-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-8-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-8-of-11 {
        width: 100% !important; } }
  .row .col-8-of-12 {
    width: calc(((100% - 66rem) / 12)*8 + 42rem);
    float: left; }
    .row .col-8-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-8-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-8-of-12 {
        width: 100% !important; } }
  .row .col-9-of-10 {
    width: calc(((100% - 54rem) / 10)*9 + 48rem);
    float: left; }
    .row .col-9-of-10:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-9-of-10:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-9-of-10 {
        width: 100% !important; } }
  .row .col-9-of-11 {
    width: calc(((100% - 60rem) / 11)*9 + 48rem);
    float: left; }
    .row .col-9-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-9-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-9-of-11 {
        width: 100% !important; } }
  .row .col-9-of-12 {
    width: calc(((100% - 66rem) / 12)*9 + 48rem);
    float: left; }
    .row .col-9-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-9-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-9-of-12 {
        width: 100% !important; } }
  .row .col-10-of-11 {
    width: calc(((100% - 60rem) / 11)*10 + 54rem);
    float: left; }
    .row .col-10-of-11:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-10-of-11:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-10-of-11 {
        width: 100% !important; } }
  .row .col-10-of-12 {
    width: calc(((100% - 66rem) / 12)*10 + 54rem);
    float: left; }
    .row .col-10-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-10-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-10-of-12 {
        width: 100% !important; } }
  .row .col-11-of-12 {
    width: calc(((100% - 66rem) / 12)*11 + 60rem);
    float: left; }
    .row .col-11-of-12:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row .col-11-of-12:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row .col-11-of-12 {
        width: 100% !important; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer-logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer-logo-box {
        margin-bottom: 6rem; } }
  .footer-logo {
    width: 15rem;
    height: auto; }
  .footer-navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer-navigation {
        width: 100%;
        text-align: center; } }
  .footer-list {
    list-style: none; }
  .footer-item {
    display: inline-block; }
    .footer-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer-link:link, .footer-link:visited {
    color: #f7f7f7;
    background-color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s; }
  .footer-link:hover, .footer-link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer-copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer-copyright {
        width: 100%;
        float: none; } }

.navigation-checkbox {
  display: none; }

.navigation-button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  top: 4rem;
  right: 6rem;
  position: fixed;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 56.25em) {
    .navigation-button {
      top: 2rem;
      right: 4rem; } }

.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
  @media (max-width: 56.25em) {
    .navigation-background {
      top: 2.5rem;
      right: 4.5rem; } }

.navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%; }

.navigation-item {
  margin: 1rem; }

.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .3s; }
  .navigation-link:link span, .navigation-link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem); }

.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80); }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%; }

.navigation-icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-icon::before {
    top: -.8rem; }
  .navigation-icon::after {
    top: .8rem; }

.navigation-button:hover .navigation-icon::before {
  top: -1rem; }

.navigation-button:hover .navigation-icon::after {
  top: 1rem; }

.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg); }

.about-section {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .about-section {
      padding: 20rem 0; } }

.features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .features-section > * {
    transform: skewY(7deg); }
  @media (max-width: 56.25em) {
    .features-section {
      padding: 15rem 0; } }

.tours-section {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .tours-section {
      padding: 20rem 0 10rem 0; } }

.story-section {
  padding: 15rem 0;
  position: relative; }

.book-section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 50rem; }
  .book-form {
    width: 50%;
    padding: 6rem; }
