.about-section {
    background-color: $light-grey-color-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.features-section {
    padding: 20rem 0;

    background-image: 
    linear-gradient(to right bottom, 
    rgba($primary-color-light,0.8),
    rgba($primary-color-dark,0.8)),
    url(../img/nat-4.jpg);

    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -10rem;
    
    // all the direct children of this class 
    & > * {
        transform: skewY(7deg);        
    }

    @include respond(tab-port) {
        padding: 15rem 0;
    }
}

.tours-section {
    background-color: $light-grey-color-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
    
}

.story-section {
    padding: 15rem 0;
    position: relative; 
}

.book-section {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.book {
    background-image: 
        linear-gradient(105deg, 
        rgba($white-color, .9) 0%, 
        rgba($white-color, .9) 50%, 
        transparent 50%),
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .2);

    height: 50rem;

    &-form {
        width: 50%;
        padding: 6rem;
    }
}
