.footer {
    background-color: $dark-grey-color-3;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    &-logo-box {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab-port) {
            margin-bottom: 6rem;
        }
    }

    &-logo {
        width: 15rem;
        height: auto;
    }

    &-navigation {
        border-top: 1px solid $light-grey-color-1;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &-list{
        list-style: none;
    }

    &-item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &-link {
        &:link,
        &:visited {
            color: $light-grey-color-1;
            background-color: inherit;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active {
            color: $primary-color;
            box-shadow: 0 1rem 2rem rgba($black-color, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &-copyright {
        border-top: 1px solid $light-grey-color-1;
        padding-top: 2rem;
        width: 80%;
        float: right;

        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}
