.row {
    max-width: $grid-width;
    // Center the content...
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;  

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }

    }

    
    @include respond(tab-port) {
        max-width: 75rem;
        padding: 0 3rem;
    }

    @include clearfix;

    @for $i from 1 through ($max-grid-columns - 1) {
        @for $x from 2 through $max-grid-columns {
            @if $i < $x {
                @include col($i,$x);
            }
        }
    }
}

