.header {
    /* 95% of the viewport */
    height: 95vh;
    /* For opacity we have to use rgba function */
    background-image: 
        linear-gradient(to right bottom, 
        rgba($primary-color-light,0.8),
        rgba($primary-color-dark,0.8)),
        url(../img/hero-small.jpg);
    /* Cover adapts the image size to the viewport */
    background-size: cover; 
    /* Ensures that the top of the image stays in place, 
    and it will crop everywhere else. */
    background-position: top;
    /* This needed for the logo absolute poition to be set correctly */
    position: relative;
    /* Checkout this website to generate shapes https://bennettfeely.com/clippy/ */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
        (min-width: 125em) {
        background-image: 
        linear-gradient(to right bottom, 
        rgba($primary-color-light,0.8),
        rgba($primary-color-dark,0.8)),
        url(../img/hero.jpg);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);       
    }

    .logo-box {
        /* The reference is the parent element */
        position: absolute;
        top: 4rem;
        left: 4rem;
        .logo {
            height: 3.5rem;
        }
    }

    &-text-box {
        /* Position the element with absolute positioning relative to it's parent */
        position: absolute;
        top: 40%;
        left: 50%;
        /* Center the content, in relation to the element itself */
        transform: translate(-50%,-50%);
        /* center the  button*/
        text-align: center;
    }
    
}

