.navigation {


    &-checkbox {
        display: none;
    }

    &-button {
        background-color: $white-color;
        height:7rem;
        width:7rem;
        top:4rem;
        right:6rem;
        position: fixed;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 1rem 3rem rgba($black-color, .1);
    
        @include respond(tab-port) {
            top: 2rem;
            right: 4rem;
        }
    }

    &-background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 4.5rem;
        right: 6.5rem;
        background-image: radial-gradient($primary-color-light, $primary-color-dark);
        z-index: 1000;

        transition: transform .8s cubic-bezier(0.23, 1, 0.320, 1);

        @include respond(tab-port) {
            top: 2.5rem;
            right: 4.5rem;
        }

        // transform: scale(100);
    }

    &-nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);        
    }
            
    &-list {
        @include absolute-center();
        text-align: center;
        list-style: none;
        // required to prevent it from forcing to the right.
        width: 100%;
    }

            
    &-item {
        margin: 1rem;
    }

            
    &-link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $white-color;
            text-transform: uppercase;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-color 50%);
            background-size: 220%;
            transition: all .3s;
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $primary-color;
            transform: translateX(1rem);
        }
    
    }

    // NAV Functionality
    &-checkbox:checked ~ &-background {
        transform: scale(80);
    }

    &-checkbox:checked ~ &-nav {
        opacity: 1;
        width: 100%;
    }

    &-icon {
        position: relative;

        margin-top: 3.5rem;
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $dark-grey-color-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -.8rem;
        }
        &::after {
            top: .8rem;
        }
    }

    &-button:hover &-icon::before {
        top: -1rem;
    }

    &-button:hover &-icon::after {
        top: 1rem;
    }

    &-checkbox:checked + &-button &-icon {
        background-color: transparent;
    }

    &-checkbox:checked + &-button &-icon::before {
        top: 0;
        transform: rotate(135deg)
    }

    &-checkbox:checked + &-button &-icon::after {
        top: 0;
        transform: rotate(-135deg)
    }
}
