.bg-video {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
    overflow: hidden;

    &-content {
        height: 100%;
        width: 100%;

        //the element will fill the entire parent while maintaing the aspect ratio
        object-fit: cover;
    }
}
