.card {
    perspective: 150rem;
    -moz-perspective: 150rem; 
    position: relative;
    height: 52rem;
    
    &-side {
        background-color: orangered;
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;        
        width: 100%;    
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($black-color, .15);
        border-radius: 3px;
        overflow: hidden;
    
        &-front {
            background-color: white;
        }

        &-back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $secondary-color-light, $secondary-color-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $tertiary-color-light, $tertiary-color-dark);
            }            
        }
    }

    &:hover &-side-front {
        transform: rotateY(-180deg);
    }

    &:hover &-side-back {
        transform: rotateY(0);
    }

    // front side styling
    &-picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon( 0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon( 0 0, 100% 0, 100% 85%, 0 100%);
        
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &-1 {
            background-image: 
            linear-gradient(to right bottom, $secondary-color-light, $secondary-color-dark),
            url('../img/nat-5.jpg');
        }
        &-2 {
            background-image: 
            linear-gradient(to right bottom, $primary-color-light, $primary-color-dark),            
            url('../img/nat-6.jpg');
        }
        &-3 {
            background-image: 
            linear-gradient(to right bottom, $tertiary-color-light, $tertiary-color-dark),            
            url('../img/nat-7.jpg');
        }
    }

    &-heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $white-color;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
        z-index: 10;
    }

    &-heading-span {
        padding: 1rem 1.5rem;
        // handle the break for the text break
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &-1 {
            background-image: linear-gradient(to right bottom, $secondary-color-light, $secondary-color-dark);
        }
        &-2 {
            background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);            
        }
        &-3 {
            background-image: linear-gradient(to right bottom, $tertiary-color-light, $tertiary-color-dark);
        }
    }

    &-details {
        padding: 3rem;
        ul {
            list-style: none;
            width: 80%;
            // center block element within another
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $light-grey-color-2;
                }
            }
        }
    }

    &-cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;        
    }

    &-price-box {
        text-align: center;
        margin-bottom: 8rem;
        color: $white-color;
    }

    &-price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &-price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}
