.feature-box {
    background-color: rgba($white-color, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($black-color, .15);
    transition: transform .3s;
    
    &-icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        @include text-gradient(to right, $primary-color-light, $primary-color-dark)
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}
