.form {
    &-group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &-input {
        font-size: 1.5rem;
        // give more padding on the sides, this makes form's input look better
        padding: 1.5rem 2rem;
        border-radius: 2px;
        color:inherit;
        background-color: rgba($white-color, .5);
        border: none;
        font-family: inherit;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .5s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($black-color, .1);
            border-bottom: 3px solid $primary-color;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }
        
        &::-webkit-input-placeholder {
            color: $dark-grey-color-2;
        }
    }

    &-label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &-input:placeholder-shown + &-label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &-radio-group {
        width: 49%;
        display: inline-block;
    }

    &-radio-label {
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &-radio-input {
        display: none;
    }

    &-radio-button {
        height: 3rem;
        width: 3rem;
        border: 3px solid $primary-color;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.5rem;

        &::after {
            content: "";
            @include absolute-center();            
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            background-color: $primary-color;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &-radio-input:checked + &-radio-label &-radio-button::after {
        opacity: 1;
    }
}
