.story {
    width: 75%;
    margin: 0 auto;
    background-color: rgba($white-color, .6);
    box-shadow: 0 3rem 6rem rgba($black-color, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);
    position: relative;

    & > * {
        transform: skewX(12deg);
    }

    &-shape {
        width: 15rem;
        height: 15rem;
        // background-color: red;
        float:left;
        
        // requires the element to be floated and have height and width
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        transform: translateX(-3rem) skewX(12deg);
    }

    &-img {
        height: 100%;
        transform: translate(-4rem) scale(1.4);
        //fixes the weird image issue
        backface-visibility: hidden;
        transition: all .5s;
    }

    &-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        color: $white-color;
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0;
        transition: all .5s;
        // fix the animation snap issue
        backface-visibility: hidden;
    }

    &:hover &-caption {
        opacity: 1;    
        transform: translate(-50%, -50%);
    }

    &:hover &-img {
        transform: translate(-4rem) scale(1);
        // darken and blur the image
        filter: blur(3px) brightness(90%);
    }
}
