/* This is referred to the universal selector (global reset). */
/* Remove the default styling the browsers have */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* The root font size */
    /* rem is a best pratice to use to scale the entire website uniformly */
    /* We use 62.5% because the default browser font size is 16px and we want to 
    use 10px as our starting font size. */
    font-size: 62.5%; 

    // You want the smaller media queries to win out over the larger media queries

    @include respond(big-desktop) {
        font-size: 75%;        
    }
    
    @include respond(tab-land) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }

    @include respond(tab-port) {
        font-size: 43.75%; // 1rem = 7px 7/16
    }
    
    @include respond(phone) {
        font-size: 37.5%;
    }

    @include respond(small-phone) {
        font-size: 31.25%;
    }

    @include respond(xs-small-phone) {
        font-size: 25%;
    }
    
}

/* Specify font within the body style this is best practice. */
body {



    /* This will create a nice border around the entire webpage */
    padding: 3rem;
    box-sizing: border-box;    
    
    @include respond(tab-port) {
        padding: 0;
    }
}

// Old media query route was to create a huge media query

