body {
    /* How do you pick a good font? */
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:$dark-grey-color-1;
}

.heading-primary {
    color: $white-color;
    text-transform: uppercase;

    /* Prevents the shaking in animations */
    backface-visibility: hidden;
    margin-bottom: 6rem;


    &-main {
        /* ensure that the sub is force to the next line */
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }

        animation: moveInLeft 1s ease-out;
        /* 
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; */
        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */
    }
    
    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;

        @include respond(phone) {
            letter-spacing: 0.5rem;
            font-size: 1.5rem;
        }
    
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;    

    @include text-gradient(to right, $primary-color-light, $primary-color-dark);
    letter-spacing: 2px;
    transition: all .2s;

    @include respond(phone) {
        font-size: 2.5;
    }

    @include respond(tab-port) {
        font-size: 3rem;
        letter-spacing: .5rem;
    }

    &:hover {
        transform: skew(15deg,2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($black-color,0.2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}
