.center-text{
    text-align: center !important;
}

@for $i from 1 through 12 {
    @include margin-bottom($i);
    @include margin-top($i);
    @include margin-left($i);
    @include margin-right($i);
    @include margin($i);
}
