@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text-gradient($direction, $fromColor, $toColor) {
    //text gradient effect.
    background-image: linear-gradient($direction, $fromColor, $toColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@mixin col($numerator, $denominator) {
    $denominator-gutter-add: ($denominator - 1) * $gutter-horizontal;
    $numerator-gutter-add: ($numerator - 1) * $gutter-horizontal; 
    .col-#{$numerator}-of-#{$denominator} {
        width: calc(((100% - #{$denominator-gutter-add}) / #{$denominator})*#{$numerator} + #{$numerator-gutter-add});

        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }
}

@mixin margin-bottom($margin) {
    .m-b-#{$margin} {
        margin-bottom: $margin * 1rem;
    }
}

@mixin margin-top($margin) {
    .m-t-#{$margin} {
        margin-top: $margin * 1rem;
    }
}

@mixin margin-left($margin) {
    .m-l-#{$margin} {
        margin-left: $margin * 1rem;
    }
}

@mixin margin-right($margin) {
    .m-r-#{$margin} {
        margin-right: $margin * 1rem;
    }
}

@mixin margin($margin) {
    .m-#{$margin} {
        margin: $margin * 1rem;
    }
}

@mixin absolute-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


// Media query managment manager

/*
0-600 phone 
600- 900 tablet portrait
900- 1200 tablet landscape
1200 - 1800 is where normal styles apply
1800 big desktop
*/

@mixin respond-phone {
    @media(max-width: 600px) { @content };
}
/*
$breakpoint argument choices
-phone
-tab-port
-tab-land
-big-desktop
*/

//1em = 16
// Media queries don't work well with rem therefore you must use em instead

@mixin respond($breakpoint) {
    @if $breakpoint == xs-small-phone {
        @media(max-width: 22em) { @content }; // 350px~       
    }
    
    @if $breakpoint == small-phone {
        @media(max-width: 25em) { @content }; // 400px       
        
    }

    @if $breakpoint == phone {
        @media(max-width: 37.5em) { @content }; // 600px       
    }

    @if $breakpoint == tab-port {
        @media(max-width: 56.25em) { @content };  // 900px     
    }

    @if $breakpoint == tab-land {
        @media(max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media(min-width: 112.5em) { @content }; // 1800px
    }
}

