$primary-color-light: #7ed56f;
$primary-color: #55c57a;
$primary-color-dark: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark:  #5643fa;

$light-grey-color-1: #f7f7f7;
$light-grey-color-2: #eee;

$dark-grey-color-1: #777;
$dark-grey-color-2: #999;
$dark-grey-color-3: #333;


$white-color: white;
$black-color: black;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$max-grid-columns: 12;

//FONT
$default-font-size: 1.6rem;
